@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";

}

<h3 class="text-center">Yeni Başlık Ekleme</h3>
<hr />

@using (Html.BeginForm("AddHeading", "WriterPanel", FormMethod.Post))
{
    @Html.HiddenFor(x => x.WriterID, new { @Value = ViewBag.wrt })
    <form class="form-group">
        Başlık
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName, "", new { @class = "text-danger" })
        <br /><br />
        Kategori
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryID, "", new { @class = "text-danger" })
        <br /><br />
        <button class="btn btn-info">Kaydet</button>
    </form>
}


