@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@using (Html.BeginForm("EditHeading", "WriterPanel", FormMethod.Post))
{
    @Html.HiddenFor(x => x.WriterID, new { @Value = ViewBag.wrt })
    @Html.HiddenFor(x => x.HeadingID)
    @Html.HiddenFor(x => x.HeadingDate)
    <form class="form-group">
        Başlık
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName, "", new { @class = "text-danger" })        
        <br /><br />
        Kategori
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryID, "", new { @class = "text-danger" })
        <br /><br />
        <button class="btn btn-info">Kaydet</button>
    </form>
}



